[submodule "WFSim"]
	path = WFSim
	url = https://github.com/Bartdoekemeijer/WFSim
[submodule "bin_supplementary/online_zmq"]
	path = bin_supplementary/online_zmq
	url = https://github.com/TUDelft-DataDrivenControl/zeromqObjMATLAB
